<footer class="footer flex">
    <div id="note-links">
        <img id="springlogo" src="{{{uiRootPath}}}/img/note-logo.svg" alt="Note">
        <p>Life, the Universe and Everything.</p>
    </div>
</footer>
